@import "../../../../layouts/style.less";

#redirects-page {

    h1.page-title {
        display: flex;
    }

    div:has(>.page-title) {
        display: flex;
        align-items: center;
        width: 100%;

        .controls {
            margin-left: auto;
            display: flex;
            gap: 12px;

            button {
                aspect-ratio: 1;
                width: 48px;
                height: 48px;

                // height: fit-content;
                color: @text;

                &.delete {
                    border-color: @bad;

                    * {
                        color: @bad !important;
                    }
                }

                &:hover {
                    // background-color: @hovers;
                    filter: brightness(1.25);
                    color: @forms;
                }
            }
        }
    }

    form.add-form {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: @forms;
        z-index: 999;
        width: 350px;
        border-radius: 24px;
        padding: 24px;


        // gap: 24px;
        h2 {
            margin-inline: auto;
        }

        .inputs {
            display: grid;
            width: 100%;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            .input-group,
            input {
                width: 100%;
                &:has(input[name=from]){
                    // background-color: red;
                    grid-column: 1 / span 3;
                }
                &:has(input[name=to]){
                    // background-color: red;
                    grid-column: 2 / span 2;
                }
            }
        }

        .b-dock {
            margin-left: auto;
            margin-top: 24px;
            gap: 12px;
            display: flex;
            button[type=reset]{
                border-color: transparent;
                box-shadow: none;
                opacity: 0.8;
                // color:@bad!important;
            }
        }
    }
}