@import "../layouts/style.less";

.reload-button.changed{
    // background-color: #f92!important;
    animation: warn 1s infinite;
}

@keyframes warn {
    0%{
        // @details:#000;
        outline: 1px solid @details;
        outline-offset: -1px;
     
    }
    
    30%{
        // background-color: #f92;
        // background: @details;
        outline-offset: 3px;
    }
}